@page "/getStudentData"
@using BlazorWebApi2.Models



@inject HttpClient HttpClient



<h3>Get Student Data</h3>



<button @onclick="FetchData">Fetch Data</button>





@if (students != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Student_ID</th>
                <th>Gender</th>
                <th>Nationality</th>
                <th>PlaceOfBirth</th>
                <th>StageID</th>
                <th>GradeID</th>
                <th>SectionID</th>
                <th>Topic</th>
                <th>Semester</th>
                <th>Relation</th>
                <th>RaisedHands</th>
                <th>VisitedResources</th>
                <th>AnnouncementsView</th>
                <th>Discussion</th>
                <th>ParentAnsweringSurvey</th>
                <th>ParentschoolSatisfaction</th>
                <th>StudentAbsenceDays</th>
                <th>StudentMarks</th>
                <th>Classes</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Student_ID</td>
                    <td>@student.Gender</td>
                    <td>@student.Nationlity</td>
                    <td>@student.PlaceOfBirth</td>
                    <td>@student.StageID</td>
                    <td>@student.GradeID</td>
                    <td>@student.SectionID</td>
                    <td>@student.Topic</td>
                    <td>@student.Semester</td>
                    <td>@student.Relation</td>
                    <td>@student.RaisedHands</td>
                    <td>@student.VisitedResources</td>
                    <td>@student.AnnouncementsView</td>
                    <td>@student.Discussion</td>
                    <td>@student.ParentAnsweringSurvey</td>
                    <td>@student.ParentschoolSatisfaction</td>
                    <td>@student.StudentAbsenceDays</td>
                    <td>@student.StudentMarks</td>
                    <td>@student.Classes</td>
                    
                </tr>
            }
        </tbody>
    </table>
}



@code {
    public IEnumerable<Student> students = null;



    private async Task FetchData()
    {
        students = await HttpClient.GetFromJsonAsync<IEnumerable<Student>>("https://localhost:7214/api/Student");
    }
}



